@charset "UTF-8";

// 适配主流设备
@adapterDeviceList:640px,540px,480px,424px,414px,400px,384px,375px,360px,320px;
// 设计尺寸
@psWidth:750px;
// 预设基准值
@baseFontSize:20px;
// 设备的种类
@deviceLength:length(@adapterDeviceList);
// 主题色
@themeColor:#57bc2f;
// 价格颜色
@priceColor: #ff4b46;
// 原价颜色
@defaultPriceColor:#aaa;
// 灰色
@gray:#f2f2f2;
// 绿色
@green: #53ce3e;
// 红色
@red:#f05423;
