<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<div data-v-5e2ab339="" class="mn-container"><!----> <!----> <!----> <!----> <!----> <!---->
  <div data-v-7384dbaa="" data-v-5e2ab339="" class="mn-card"><!---->
    <div data-v-7384dbaa="" class="mn-card-item home-floor-single-image">
      <div data-v-7384dbaa="" class="mn-image">
        <div class="mn-image-holder" style="background-image: url(&quot;undefined&quot;);"></div>
        <img src=""
             class="mn-image-source is-active"></div>
    </div>
  </div> <!----> <!----> <!----> <!----> <!----> <!----> <!----> <!----> <!----></div>
<div data-v-5e2ab339="" class="mn-container"><!----> <!----> <!---->
  <div data-v-9ad281c2="" data-v-5e2ab339="" class="mn-card"><!---->
    <div data-v-9ad281c2="" class="mn-card-item home-floor-column-three">
      <div data-v-9ad281c2="" class="mn-image">
        <div class="mn-image-holder" style="padding-bottom: 71%; background-image: url(&quot;undefined&quot;);"></div>
        <img src=""
             class="mn-image-source is-active"></div>
      <div data-v-9ad281c2="" class="mn-image">
        <div class="mn-image-holder" style="padding-bottom: 71%; background-image: url(&quot;undefined&quot;);"></div>
        <img src=""
             class="mn-image-source is-active"></div>
      <div data-v-9ad281c2="" class="mn-image">
        <div class="mn-image-holder" style="padding-bottom: 71%; background-image: url(&quot;undefined&quot;);"></div>
        <img src=""
             class="mn-image-source is-active"></div>
    </div>
  </div> <!----> <!----> <!----> <!----> <!----> <!----> <!----> <!----> <!----> <!----> <!----> <!----></div>
</body>
</html>
